name: Alive Monitoring
on: push
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - run: echo "status_code=$(curl -s -I -o nul -w 짜"%{http_code}짜" 짜"${TARGET_URL}짜")" >> "${GITHUB_OUTPUT}"
        id: http_connectivity
        env:
          TARGET_URL: "https://www.login-tech.com/lp"
      - env:
           RESULT: ${{ steps.http_connectivity.outputs.status_code}}
        run: echo "${RESULT}"